
body {
	background-color: #ffffff;
}

div {
	background-color: #ffffff;
	border: 1px black solid;
	padding: 0px;
}

header {
	background-color: #ffffff;
	border: 0px black solid;
}

nav {
	background-color: #ffffff
    border: 2px black solid;
    text-align: center;
    padding: 20px 0px 20px 0px;

}


section {
	background-color: #ffffff;
    border: 1px black solid;
    clear: both;
    margin: 10px
    padding: 0px 0px 0px 0px;
}


footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

h1 {
	color:#222222;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
	letter-spacing: 1.5px;
	font-style: normal;
	font-size: 42px
}

hr {
  width: 300px;
  color: #222222;


}


.subheader {
	color:#222222;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 16px; 
	font-weight: 500px;
	letter-spacing: 0.5px;
	text-align: bottom;
}

.navlink {
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 12px; 
	letter-spacing: 0.5px;
	font-style: normal;
	margin: 3em;
	text-align: center;

}


h2 {
	color:#222222;
	text-align: center;
	font-family: Georgia, sans-serif;
	font-size: 18px; 
	font-weight: 500px;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-style: normal;
	text-align: bottom;
}


a {
	color:#222222;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 16px; 
	font-weight: 500px;
	letter-spacing: -1px;
	font-style: normal;
	text-align: center;
	text-decoration: none;
}

p {
	color:#222222;
	text-align: center;
	font-family: helvetica, sans-serif;
	font-size: 16px; 
	font-weight: 500px;
	letter-spacing: -0.5px;
	font-style: normal;
	text-align: center;
	text-decoration: none;
}

#left {
    background-color: #ffffff;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #ffffff;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 60%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
